@charset "utf-8";

body {
    background: #2FA0A7;
}
h1 {
    text-align: center;
    position: center;
    font-family: "Comic Sans MS";
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 156px;
}
.center  {
    text-align: center;
    margin-top: 200px;
}
.username {
    margin: 10px;
}
.login {
    margin-top: 20px;
}
.createRectangle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 14px;
    justify-items: center;
    align-items: center;
}